@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

img {
	max-width: 100%;
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

a {
	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, .h1, .h2, .h3 {
	font-family: 'Toyota Display';
}

h2 {
	font-size: 2.250em;
}

.margin {
	margin: 6.250em 0;
}

.head {
	padding: 13.5px 0;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	&__logo {
		display: inline-block;
	}
	&__menu {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			li {
				margin-left: 35px;
				&:first-of-type {
					margin-left: 0;
				}
				a {
					color: #000;
					&:hover {
						color: $accent;
					}
				}
			}
		}
	}
	&__btn {
		a {
			display: block;
			text-align: center;
		}
		.call {
			padding: 10px 20px;
		}
	}
	&__phone {
		font-weight: bold;
		color: #000;
		margin-bottom: 5px;
		&:hover {
			color: #000;
		}
	}
}

.call {
	display: inline-block;
	padding: 15px 35px;
	background: $accent;
	color: #fff;
	transition: all .3s;
	border-radius: 100px;
	border: 0;
	&.white {
		border: 1px solid $accent;
		background: #fff;
		color: $accent;
	}
	&.w100 {
		display: block;
		padding: 15px 5px;
		width: 100%;
		text-align: center;
	}
	&:focus {
		outline: 0;
	}
	&:hover {
		background: $hover;
		transition: all .3s;
		color: #fff;
		cursor: pointer;
	}
}

.home {
	height: 100vh;
	min-height: 600px;
	position: relative;
	color: #fff;
	padding-top: 89px;
	padding-bottom: 119px;
	&__bg {
		width: 100%;
		height: 100%;
		background: url(../img/bg.jpg) no-repeat;
		background-size: cover;
		background-position: 50%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	h1 {
		font-size: 3.125em;
		margin-top: 0;
	}
	&__h2 {
		font-size: 2.250em;
		font-weight: bold;
	}
	&__form {
		margin-top: 40px;
		&_inner {
			input {
				width: 280px;
				height: 50px;
				line-height: 50px;
				border: 0;
				background: #fff;
				color: #000;
				box-shadow: inset 0px 0px 6px rgba(22, 22, 22, 0.1);
				border-radius: 4px;
				padding-left: 15px;
				display: inline-block;
				margin-right: 20px;
			}
		}
		label {
			margin: 20px 0 0 0;
			padding: 0;
			position: relative;
			display: block;
			input {
				display: none;
				&:checked + p {
					&:after {
						opacity: 1;
						transition: all .2s;
					}
				}
			}
			p {
				position: relative;
				font-size: 0.875em;
				margin: 0;
				padding-left: 20px;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 2px;
					width: 12px;
					height: 12px;
					border-radius: 4px;
					background: #fff;
				}
				&:after {
					content: '';
					position: absolute;
					left: 3px;
					top: 5px;
					width: 6px;
					height: 6px;
					background: $accent;
					border-radius: 2px;
					opacity: 0;
					transition: all .2s;
				}
				a {
					color: #fff;
					text-decoration: underline;
					&:hover {
						text-decoration: underline;
						color: $accent;
					}
				}
			}
		}
	}
}

.redLine, .grayLine {
	background: $accent;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 36px 0;
	color: #fff;
	&__item {
		position: relative;
		padding-left: 75px;
		img {
			position: absolute;
			left: 0;
			top: 50%;
			width: 55px;
			transform: translate(0, -50%);
		}
		p {
			margin: 0;
			&:first-of-type {
				margin-bottom: 10px;
			}
		}
	}
}

.grayLine {
	position: relative;
	padding: 90px 0;
	background: $bgGray;
	color: #000;
}

.quiz	{
	position: relative;
	&__item {
		display: none;
		position: relative;
		padding-bottom: 80px;
		min-height: 490px;
		opacity: 0;
		.h3 {
			color: $accent;
			font-weight: bold;
			font-size: 1.375em;
			&.black {
				color: $text;
			}
		}
		.des {
			color: $gray;
			margin-bottom: 40px;
		}
		.inputBlock {
			margin-top: 40px;
		}
		label {
			margin-bottom: 22px;
			position: relative;
			&.error {
				span {
					&:before {
						animation: error .6s ease forwards;
					} 
				}
			}
			input {
				display: none;
				&:checked + span {
					&:after {
						opacity: 1;
						transition: all .3s;
					}
				}
			}
			span {
				font-size: 1.250em;
				display: inline-block;
				padding-left: 45px;
				transition: all .3s;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: -2px;
					width: 27px;
					height: 27px;
					border: 1px solid $border;
					box-sizing: border-box;
					box-shadow: inset 0px 0px 6px rgba(22, 22, 22, 0.1);
					border-radius: 8px;
					transition: all .3s;
				}
				&:after {
					content: '';
					position: absolute;
					left: 7px;
					top: 5px;
					background: $accent;
					border-radius: 3px;
					width: 13px;
					height: 13px;
					opacity: 0;
					transition: all .3s;
				}
			}
			&:hover {
				span {
					color: $accent;
					cursor: pointer;
					transition: all .3s;
					&:before {
						border-color: $accent;
						transition: all .3s;
					}
				}
			}
		}
		&.active {
			display: block;
			animation: fadeIn .5s ease forwards;
		}
		&.last {
			min-height: auto;
			border-top: 1px solid $border;
			margin-top: 30px;
			padding-top: 30px;
			padding-bottom: 0;
			input.phone {
				display: inline-block;
				border: 1px solid $border;
				color: $text;
				box-shadow: inset 0px 0px 6px rgba(22, 22, 22, 0.1);
				border-radius: 4px;
				height: 50px;
				line-height: 50px;
				padding-left: 15px;
				width: 280px;
				margin-bottom: 25px;
			}
			.last__text {
				margin-bottom: 40px;
			}
			.quiz__btn {
				position: relative;
				margin-bottom: 25px;
			}
			label.soglas {
				span {
					font-size: 0.875em;
					padding-left: 25px;
					&:before {
						width: 14px;
						height: 14px;
						border-radius: 4px;
						top: 4px;
					}
					&:after {
						width: 6px;
						height: 6px;
						left: 4px;
						top: 8px;
					}
					&:hover {
						color: $text;
					}
				}
				a {
					color: $text;
					text-decoration: underline;
					transition: all .3s;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.loading {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #fff;
				z-index: 10;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				img {
					animation: rotate 1s linear infinite;
				}
			}
			&.active {
				.loading {
					animation: fadeInOut 0.5s linear forwards;
					animation-delay: 2s;
				}
			}
		}
	}
	&__subtitle {
		color: #9D9D9D;
		text-transform: uppercase;
		border-bottom: 1px solid #D8D8D8;
		padding: 20px 0;
		padding-top: 10px;
		margin-bottom: 30px;
	}
	&__btn {
		display: flex;
		position: absolute;
		left: 0;
		bottom: 0;
		.pre_btn {
			margin-right: 20px;
			border: 1px solid $border;
			color: $gray;
			background: #fff;
			&:hover {
				color: $accent;
				border-color: $accent;
			}
		}
		.next_btn {
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			&.done {
				&:after {
					display: none;
				}
			}
			&:after {
				content: '';
				display: inline-block;
				width: 19px;
				height: 19px;
				background: url(../img/right-arrow.svg) no-repeat;
				background-position: 50%;
				background-size: cover;
				position: relative;
				right: 0;
				margin-left: 15px;
				transition: all .3s;
			}
			&:hover {
				&:after {
					right: -10px;
					transition: all .3s;
				}
			}
		}
	}

	#rotator {
		position: absolute;
		top: 14px;
		left: 50%;
		width: 100%;
		margin-left: 135px;
		height: 570px;
		overflow: hidden;
		ul {
			padding: 0;
			margin: 0;
			display: block;
			position: relative;
			height: 100%;
			&:before {
				content: '';
				position: absolute;
				border: 115px solid transparent;
				border-left: 29px solid white;
				border-top: 455px solid white;
				z-index: 20;
			}
		}
		li {
			position:absolute; 
			list-style: none;
			height: 100%;
			&.show {
				z-index:10;
				img {
					animation: rotator 5s ease forwards;
				}
			}
			img {
				height: 100%;
				transform: scale(1.1);
			}
		}
	}
}

@keyframes rotator { 
	0% { 
		transform: scale(1);
	} 
	100% {
		transform: scale(1.1);
	}
}

@keyframes error { 
	0% { 
		box-shadow: 0px 0px 0px 0px rgba(219, 6, 31, 0.1);
	} 
	50% { 
		box-shadow: 0px 0px 0px 6px rgba(219, 6, 31, 0.1);
	} 
	75% {
		box-shadow: 0px 0px 0px 0px rgba(219, 6, 31, 0.1);
	}
	100% {
		box-shadow: inset 0px 0px 6px rgba(22, 22, 22, 0.1);
	}
}

@keyframes fadeIn { 
	0% { 
		opacity: 0;
		display: none;
	}
	100% {
		opacity: 1;
		display: block;
	}
}

@keyframes fadeInOut { 
	0% { 
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes rotate { 
	0% { 
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.product {
	&__inner {
		margin-top: 3.750em;
	}
	&__item {
		width: 100%;
		border-color: $border;
		border-radius: 4px;
		background: #fff;
		margin-bottom: 30px;
		transition: all .3s;
		&:hover {
			box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.12);
			transition: all .3s;
		}
		h3 {
			font-size: 1.375em;
		}
		&_price {
			margin-bottom: 15px;
			span {
				display: inline-block;
				background: $accent;
				color: #fff;
				font-weight: bold;
				font-size: 1.125em;
				padding: 5px 10px;
			}
		}
		&_list {
			margin: 0;
			padding: 0;
			padding-top: 20px;
			list-style: none;
			border-top: 1px solid $border;
			li {
				position: relative;
				padding-left: 15px;
				margin-bottom: 10px;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 8px;
					background: $accent;
					height: 4px;
					width: 4px;
					border-radius: 100px;
				}
			}
		}
	}
	&__img {
		width: 100%;
		height: 100%;
	}
	&__content {
		padding: 35px;
	}
	&__top {
		height: 100%;
		padding-bottom: 103px;
	}
	&__bot {
		background: $bgGray;
		padding: 30px;
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		.call {
			padding: 11px 5px;
			white-space: nowrap;
		}
	}
}

.more {
	margin-top: 30px;
	&__inline {
		display: inline-block;
	}
	.call {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		svg {
			margin-right: 15px;
			transition: all .3s;
			path {
				transition: all .3s;
			}
		}
		&:hover {
			svg {
				transform: rotate(180deg);
				path {
					fill: #fff;
					transition: all .3s;
				}
			}
		}
	}
}

.bgForm {
	background: url(../img/bgForm.jpg);
	background-size: cover;
	background-position: 50%;
	padding: 60px 0;
	color: #fff;
	&__form {
		margin-top: 35px;
		input {
			display: block;
			width: 100%;
			height: 50px;
			line-height: 50px;
			border: 0;
			background: #fff;
			color: #000;
			box-shadow: inset 0px 0px 6px rgba(22, 22, 22, 0.1);
			border-radius: 4px;
			padding-left: 15px;
		}
		&_title {
			display: block;
			margin-bottom: 20px;
		}
		label {
			margin-top: 30px;
			padding: 0;
			position: relative;
			display: block;
			input {
				display: none;
				&:checked + p {
					&:after {
						opacity: 1;
						transition: all .2s;
					}
				}
			}
			p {
				position: relative;
				font-size: 0.875em;
				margin: 0;
				padding-left: 20px;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 2px;
					width: 12px;
					height: 12px;
					border-radius: 4px;
					background: #fff;
				}
				&:after {
					content: '';
					position: absolute;
					left: 3px;
					top: 5px;
					width: 6px;
					height: 6px;
					background: $accent;
					border-radius: 2px;
					opacity: 0;
					transition: all .2s;
				}
				a {
					color: #fff;
					text-decoration: underline;
					&:hover {
						text-decoration: underline;
						color: $accent;
					}
				}
			}
		}
	}
}

.calc {
	h2 {
		margin-bottom: 30px;
	}
	&__benefit {
		color: $accent;
		margin-bottom: 15px;
		position: relative;
		padding-left: 35px;
		&:before {
			content: '';
			width: 20px;
			height: 20px;
			background: url(../img/check.svg) no-repeat;
			background-size: cover;
			background-position: 50%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__form {
		margin-top: 30px;
		&_h3 {
			font-weight: bold;
			font-size: 1.813em;
		}
	}
}

@import "media"; // Always at the end
